.card {
  border: 1px solid rgb(255, 255, 255, 50%);
  border-radius: var(--radius-card);
  width: clamp(25.5rem, 10vw, 28.7rem);
  height: 8.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 3px 0px var(--color-primary);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.2);
}

.image {
  width: 4rem;
  height: 4rem;
  margin-left: var(--font-3);
  margin-right: var(--font-3);
} 

.span {
  font-size: 2.2rem;
  font-weight: 800;
}