.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 5rem;
  margin-bottom: 5rem; 
} 

.nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
  align-items: center;
}

.imgLogo {
  width: 7rem;
  height: var(--font-1);
  margin-bottom: 2rem;
}


.listHeader {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-bottom: 2rem;
}