.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listCard {
  margin-top: 2.8rem;
  margin-bottom: var(--font-2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}