@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;600;700;800 & family= Poppins & display=swap');

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.div {
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.h1, .p, .div {
  margin-bottom: 3rem;
}

.img {
  width: clamp(25.5rem, 10vw, 50.8rem);
  border-radius: 50%;
}

@media(min-width: 50rem) {
  .img {
    width: 50.8rem;
  }
}