@import url(reset.css);

h1 {
  font-weight: 800;
  font-size: 4.8rem;
}

h2 {
  font-weight: 800;
  font-size: 4rem;
}

h3 {
  font-weight: 800;
  font-size: 2.2rem;
}

p {
  font-weight: 400;
  font-size: var(--font-2);
}

button {
  font-weight: 400;
  font-size: var(--font-1);
  border-radius: var(--radius-button);
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 13rem;
  height: 3.9rem;
}

button:hover {
  background-color: var(--color-primary-hover);
  transition: 1s;
}

a {
  font-weight: 600;
  font-size: var(--font-1);
}