:root {
  --color-background: linear-gradient(to bottom, #282828 0%, #9e00ff 100%);
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-primary: #00EEA2;
  --color-primary-hover: #7C91FF;

  --font-1: 1.4rem;
  --font-2: 1.6rem;
  --font-3: 3.2rem;
  --font-4: 2rem;

  --font-family: 'Poppins', sans-serif;

  --radius-button: 1.2rem;
  --radius-card: 2.5rem;
  --radius-link: 1rem;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}



body, html {
  background: var(--color-background);
  background-attachment: fixed;
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

.mainApp {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 8rem;
}

body {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-hover);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0044;
  transition: 1s;
}